<div class="login-container">
  <h2>Login</h2>
  <form [formGroup]="loginForm" (ngSubmit)="onSubmit()" novalidate>
    <div class="form-group">
      <label for="email">Email:</label>
      <input type="email" id="email" formControlName="email" required>
      <div *ngIf="f['email'].errors && (f['email'].touched || f['email'].dirty)" class="text-danger">
        <div *ngIf="f['email'].errors['required']">Email is required</div>
        <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
      </div>
    </div>

    <div class="form-group">
      <label for="password">Password:</label>
      <input type="password" id="password" formControlName="password" required>
      <div *ngIf="f['password'].errors && (f['password'].touched || f['password'].dirty)" class="text-danger">
        <div *ngIf="f['password'].errors['required']">Password is required</div>
      </div>
    </div>

    <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>

    <button class="btn btn-primary" type="submit" [disabled]="loading">
      Login
      <span *ngIf="loading" class="spinner-border spinner-border-sm"></span>
    </button>
    <div class="mt-3">
      <p>Don't have an account? <a routerLink="/auth/register">Register here</a></p>
    </div>
  </form>
</div>