.login-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  
    h2 {
      margin-bottom: 20px;
      text-align: center;
    }
  
    .form-group {
      margin-bottom: 20px;
  
      label {
        display: block;
        margin-bottom: 0.5rem;
      }
  
      input {
        width: 100%;
        padding: 0.375rem 0.75rem;
        font-size: 1rem;
        line-height: 1.5;
        color: #495057;
        background-color: #fff;
        background-clip: padding-box;
        border: 1px solid #ced4da;
        border-radius: 0.25rem;
        transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  
        &:focus {
          border-color: #80bdff;
          outline: 0;
          box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
        }
      }
  
      .is-invalid {
        border-color: #dc3545;
  
        & + .invalid-feedback {
          display: block;
        }
      }
  
      .invalid-feedback {
        display: none;
        width: 100%;
        margin-top: 0.25rem;
        font-size: 0.875em;
        color: #dc3545;
      }
    }
  
    .alert {
      margin-top: 15px;
    }
  
    .btn {
      width: 100%;
      padding: 10px;
      font-size: 1.2rem;
    }
  }
  