<div class="register-container">
    <h2>Register</h2>
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()" novalidate>
      <div class="form-group">
        <label for="username">Username:</label>
        <input type="text" id="username" formControlName="username" required>
        <div *ngIf="f['username'].errors && (f['username'].touched || f['username'].dirty)" class="text-danger">
          <div *ngIf="f['username'].errors['required']">Username is required</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="email">Email:</label>
        <input type="email" id="email" formControlName="email" required>
        <div *ngIf="f['email'].errors && (f['email'].touched || f['email'].dirty)" class="text-danger">
          <div *ngIf="f['email'].errors['required']">Email is required</div>
          <div *ngIf="f['email'].errors['email']">Email must be a valid email address</div>
        </div>
      </div>
  
      <div class="form-group">
        <label for="password">Password:</label>
        <input type="password" id="password" formControlName="password" required>
        <div *ngIf="f['password'].errors && (f['password'].touched || f['password'].dirty)" class="text-danger">
          <div *ngIf="f['password'].errors['required']">Password is required</div>
          <div *ngIf="f['password'].errors['minLength']">Password must be at least 6 characters long</div>
        </div>
      </div>
  
      <div *ngIf="errorMessage" class="alert alert-danger">{{ errorMessage }}</div>
  
      <button type="submit" class="btn btn-primary" [disabled]="loading">
        Register
        <span *ngIf="loading" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
      </button>
      <div class="mt-3">
        <p>Already have an account? <a routerLink="/auth/login">Login here</a></p>
      </div>
    </form>
  </div>
  