.register-container {
    width: 300px;
    margin: auto;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  
    h2 {
      text-align: center;
    }
  
    .form-group {
      margin-bottom: 15px;
    }
  
    .text-danger {
      color: red;
      font-size: 0.8rem;
    }
  
    .alert {
      color: #721c24;
      background-color: #f8d7da;
      border-color: #f5c6cb;
    }
  
    button {
      width: 100%;
      margin-top: 10px;
    }
  
    .spinner-border {
      margin-left: 5px;
    }
  }  